@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer tailwind-base, primevue, tailwind-utilities, custom-class;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer custom-class {
    .text-def {
        @apply text-[#334155];
    }

    .color-primary {
        color: var(--p-primary-500);
    }

    .bg-color-100 {
        background-color: var(--p-primary-50);
    }

    .font-nunito {
        font-family: "Nunito", Arial, sans-serif;
    }

    .router-link-active {
        @apply font-medium color-primary bg-color-100;
    }
    
    .menu:hover{
        @apply font-medium color-primary bg-color-100;
    }
}



:root {
    font-family             : "Poppins", Arial, sans-serif;
    line-height             : 1.5;
    font-weight             : 400;
    font-synthesis          : none;
    text-rendering          : optimizeLegibility;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;

    --p-primary-50  : var(--p-blue-50);
    --p-primary-100 : var(--p-blue-100);
    --p-primary-200 : var(--p-blue-200);
    --p-primary-300 : var(--p-blue-300);
    --p-primary-400 : var(--p-blue-400);
    --p-primary-500 : var(--p-blue-500);
    --p-primary-600 : var(--p-blue-600);
    --p-primary-700 : var(--p-blue-700);
    --p-primary-800 : var(--p-blue-800);
    --p-primary-900 : var(--p-blue-900);
    --p-primary-950 : var(--p-blue-950);
    
    --p-surface-0   : #ffffff;
    --p-surface-50  : #f8fafc;
    --p-surface-100 : #f1f5f9;
    --p-surface-200 : #e2e8f0;
    --p-surface-300 : #cbd5e1;
    --p-surface-400 : #94a3b8;
    --p-surface-500 : #64748b;
    --p-surface-600 : #475569;
    --p-surface-700 : #334155;
    --p-surface-800 : #1e293b;
    --p-surface-900 : #0f172a;
    --p-surface-950 : #020617; 

    --p-content-border-radius       : 6px;
    --p-primary-color               : var(--p-primary-500);
    --p-primary-contrast-color      : var(--p-surface-0);
    --p-primary-hover-color         : var(--p-primary-600);
    --p-primary-active-color        : var(--p-primary-700);
    --p-content-border-color        : var(--p-surface-200);
    --p-content-hover-background    : var(--p-surface-100);
    --p-content-hover-color         : var(--p-surface-800);
    --p-highlight-background        : var(--p-primary-50);
    --p-highlight-color             : var(--p-primary-700);
    --p-highlight-focus-background  : var(--p-primary-100);
    --p-highlight-focus-color       : var(--p-primary-800);
    --p-text-color                  : var(--p-surface-700);
    --p-text-hover-color            : var(--p-surface-800);
    --p-text-muted-color            : var(--p-surface-500);
    --p-text-hover-muted-color      : var(--p-surface-600);

    --p-button-primary-background       : var(--p-primary-500);
    --p-button-primary-hover-background : var(--p-primary-600);
    --p-button-primary-border-border    : var(--p-primary-500);
    --p-button-primary-hover-border     : var(--p-primary-600);

    --surface-ground    : var(--p-surface-200);
    --code-background   : var(--p-surface-900);
    --code-color        : var(--p-surface-200);
}

:root[class*='dark'] {
    --surface-ground    : var(--p-surface-950);
    --code-background   : var(--p-surface-800);
    --code-color        : var(--p-surface-100);
}